table {
  color: white;
}
body {
  background-color: black;
}
h1 {
  color: white;
  font-family: "Source Code Pro", monospace;
  background-color: black;
}
header {
  background-color: black;
  margin: auto;
  text-align: center;
}
button {
  color:  white;
  background-color: black;
  border-style: solid;
  padding: 10px 20px;
}
p{
  font-size: 20;
  color:#6dd47e;
}
.rozvrh{
  color: white;
}