body {
  background-color: black;
}
h1 {
  color: white;
  font-family: "Source Code Pro", monospace;
  background-color: black;
}
header {
  background-color: black;
  margin: auto;
  text-align: center;
}
button {
  color:  white;
  background-color: black;
  border-style: solid;
  padding: 10px 20px;
}
p{
  font-size: 20;
  color:white;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}